
@model Kztek_Model.Models.CDKey

<div id="ModalCDKey" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Tạo key mới
                </h4>
            </div>
            <div class="modal-body">
                <form id="@string.Format("frmCDKey")" class="form-horizontal">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group row">
                                <div class="col-sm-2 col-form-label text-sm-right pr-0">
                                    <label for="id-form-field-name" class="mb-0">
                                        Phần mềm
                                    </label>
                                </div>
                                <div class="col-sm-10">
                                    @await Component.InvokeAsync("ChosenSelect", ViewBag.App)
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 col-form-label text-sm-right pr-0">
                                    <label for="id-form-field-name" class="mb-0">
                                        Dự án
                                    </label>
                                </div>
                                <div class="col-sm-10">
                                    @await Component.InvokeAsync("ChosenSelect", ViewBag.Project)
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 col-form-label text-sm-right pr-0">
                                    <label for="id-form-field-name" class="mb-0">
                                        Khách hàng
                                    </label>
                                </div>
                                <div class="col-sm-10">
                                    @await Component.InvokeAsync("ChosenSelect", ViewBag.Customer)
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 col-form-label text-sm-right pr-0">
                                    <label for="id-form-field-name" class="mb-0">
                                        Số lượng
                                    </label>
                                </div>
                                <div class="col-sm-10">
                                    <input class="form-control" type="number" min="0" value="0" step="1" id="Quantity" />
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div id="boxLoding" style="display:none">
                <img src="~/images/ajax-loader.gif" />

                <span style="font-weight:bold;font-size:16px;">Đang xử lý vui lòng chờ...</span>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default btn-mini" id="btnClose" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-info btn-mini" id="btnCompleted">Hoàn thành</button>
            </div>
        </div>

    </div>
</div>


